.App {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  font-size: 2.2rem;
<<<<<<< HEAD
  margin-top: 24px;
=======
>>>>>>> 61d55fed8141495ddd138f759c6ee366aa88972f
  margin-bottom: 40px;
}